{% extends 'base.html' %}

{% block title %}{{ gettext("Q82 Capital") }}{% endblock %}

{% block meta_description %}{{ gettext("We are a technology-driven investment firm focused on delivering superior risk-adjusted returns using the latest advancements on artificial intelligence.") }}{% endblock %}

{% block content %}

<main class="landing-page">
  <div class="background-wrapper">
    {% with theme_dark=True %}
    <div class="particles-container">
      {% include 'particles.html' %}
    </div>
    {% include 'navbar.html' %}
    {% endwith %}
   <section class="hero-section">
      <div class="container foreground-content">
        <div class="row">
          <div class="col-12 col-md-6">
            <h1>
              {{ gettext("AN INVESTMENT FIRM FOR THE SECOND MACHINE AGE") }}
            </h1>
            <p>
              {{ gettext("Q82 Capital uses a combination of artificial intelligence paired with fundamental knowledge, to provide our investors with exceptional returns through the active management of digital assets portfolios.") }}
            </p>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="btn-container">
                  <a href="https://drive.google.com/file/d/1bDVeQDNS_glvMzsGuxnND0bzzRLiB0B6/view?usp=sharing" role="button" class="product-brief-btn btn btn-primary btn-min-size">
                    {{ gettext("Read our White Paper") }}
                  </a>
                </div>
                <div class="btn-container">
                </div>
          </div>
                  </div>
          </div>

        </div>
      </div>
      
    </section>
    <section class="platform-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-pane background-panes top-panes">
            <div class="row row-pane">
              <div class="col-8 col-pane">
                <div class="left-upper-pane">
                </div>
              </div>
              <div class="col-4 col-pane">
                <div class="right-upper-pane">
                </div>
              </div>
            </div>
            <div class="row row-pane">
              <div class="col-12 col-pane">
                <div class="platform-bottom-pane">
                </div>
              </div>
            </div>
          </div>
          <div class="container foreground-content">
            <div class="row">
              <div class="col-12 col-md-6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="partners-section">
    <div class="container-fluid">
      <div class="row">
        <div class="container foreground-content">
          <div class="row">
            <div class="col-12 col-md-6">
              <h2>
                {{ gettext("A META-STRATEGY, NOT ASTROLOGY") }}
              </h2>
              <p>
                {{ gettext("Rookies and crypto funds normally generate trading strategies, believing that there is such a thing as a magical formula for wealth accumulation. Q82 Capital develop plans to produce strategies at industrial scale using advanced deep learning techniques. We think like a research laboratory where our main goal is to run our firm like an automated factory, where true revelations are not born out of inspiration, but out of systematic work.") }}
              </p>
              <div class="btn-container">
                <a href="https://drive.google.com/file/d/1bDVeQDNS_glvMzsGuxnND0bzzRLiB0B6/view?usp=sharing" role="button" class="partners-btn btn btn-primary btn-min-size">
                  {{ gettext("Read our White Paper") }}
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6">

            </div>
          </div>
        </div>
        <div class="col-12 col-pane background-panes bottom-panes offset-panes">
          <div class="row row-pane align-items-end">
            <div class="col-3 col-pane">
              <div class="left-lower-pane">
              </div>
            </div>
            <div class="col-9 col-pane">
              <div class="right-lower-pane">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="use-cases-section">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-12 col-md-5">
          <div class="img-graphic">
            
          </div>
        </div>
        <div class="col-12 col-md-5">
          <h2>
            {{ gettext("INDEPENDENT AND CONTRARIAN THINKING") }}
          </h2>
          <p>
            {{ gettext("We have witnessed the cambrian explosion of new cryptocurrencies, digital assets, and decentralized technologies, poised to disrupt nearly every aspect of the world’s existing financial, technological, and social infrastructure. The investment and decision-making process inside Q82 leverages our expertise, identifies the trends, contagions,
innovations, and events that shape future business models and dominate investment returns.") }} <a href="{{ url_for('partners', lang_code=CURRENT_LANGUAGE) }}">{{ gettext("Get in touch to learn more.") }}</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="middlemen-section">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>
            {{ gettext("BEST PRACTICES AND PRINCIPLES") }}
          </h2>
          <p>
            {{ gettext("Around a 24 per cent of hedge fund managers interviewed by BarclayHedge responded that they either currently invest or plan to invest in cryptocurrencies within the next six months. However, institutional investors are not buying the underlying product of all these instruments, which is the cryptocurrency itself. The reason is straightforward: there is a lack of infrastructure, regulation and best practices. We strive to develop a framework of best practices and principles in trading, security, custody, legal, and compliance that allow institutional investors participate in this emerging digital asset class.") }}
          </p>
          <div class="btn-container">
            <a href="https://drive.google.com/file/d/1oSYJCr-iEpECxwNj27enhfFr7TaX8-3U/view?usp=sharing" role="button" class="btn btn-primary btn-min-size">
              {{ gettext("Q82 Token Terms") }}
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="img-graphic">

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="email-section">
    <div class="container foreground-content">
      <div class="row">
        <div class="col-12">
          <h2>
            {{ gettext("Meaningful Work. Contrarian People.") }}
          </h2>
          <p>
            {{ gettext("These technologies will impact the world in ways we cannot imagine today. Let's build something massive together.") }}
          </p>
          <form method="post" action="/mailing-list/join" id="mailing-list">
            <div class="form-group">
              <input id="email" type="email" name="email" class="form-control email-signup-input" placeholder="{{ gettext('Enter email') }}" />
            </div>
            <div class="btn-container">
              <input type="submit" class="btn btn-primary btn-min-size" value="{{ gettext('Stay in the loop') }}" />
            </div>
          </form>
          <div id='signup-result'></div>
          <br>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>

{% endblock %}

{% block extra_scripts %}
  <script>
    setTimeout(function() {
      alertify.log("{{ gettext("Meet our Team!") }}<div class='telegram-btn-container'><a href='{{ universal.TELEGRAM_URL }}' role='button' class='telegram-btn btn btn-primary btn-min-size' target='_blank'><i class='fab fa-telegram-plane'></i>{{ gettext("Join Our Telegram") }}</a></div>", "default", 0)
    }, 2000);
  </script>
  <script>
    var cards = document.querySelectorAll('.partner-card');
    var interval;

    function advance() {
      // increment each element's position and conditionally change its class
      for (var i = 0; i < cards.length; i++) {
        var el = cards[i];
        var oldPos = parseInt(el.dataset.pos);
        var max = cards.length - 1;
        var newPos = oldPos === max ? 0 : oldPos + 1;
        var classes = el.classList;

        el.dataset.pos = newPos;

        switch(newPos) {
          case max:
            classes.add('current')
            classes.remove('next')
            break;
          case max - 1:
            classes.add('next')
            break;
          case 0:
            classes.remove('current')
        }
      }
    }

    function initAutoAdvance() {
      if (interval) {
        clearInterval(interval);
      }

      interval = setInterval(function() {
        advance();
      }, 4000);
    }

    for (var i = 0; i < cards.length; i++) {
      var el = cards[i];

      // use data attribute for managing position in queue
      el.dataset.pos = i;

      // 'touchstart' should potentially be handled for more responsive ux
      el.addEventListener('click', function() {
        advance();

        // restart
        initAutoAdvance();
      });
    }

    // start
    initAutoAdvance();
  </script>
{% endblock %}
